<div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
  <main class="w-full flex-grow p-6">
    <h1 class="w-full text-3xl text-black pb-6">Manajemen User</h1>

    <div class="flex flex-wrap">
      <div class="w-full lg:w-full my-6 pr-0 lg:pr-2">
        <p class="text-xl pb-6 flex items-center">
          <i class="fas fa-list mr-3"></i> Mendaftarkan User
        </p>
        <div class="leading-loose">
          <form [formGroup]="signupForm" (ngSubmit)="signUp()" class="p-10 bg-white rounded shadow-xl">
            <div class="pb-4">
              <label class="block text-sm text-gray-600" for="nama">Nama</label>
              <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="nama" formControlName="nama"
                type="text" required="" placeholder="Nama User" aria-label="nama">
            </div>
            <div class="pb-4">
              <label class="block text-sm text-gray-600" for="email">Email</label>
              <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="email" formControlName="email"
                type="email" required="" placeholder="email@gmail.com" aria-label="email">
            </div>
            <div class="pb-4">
              <label class="block text-sm text-gray-600" for="nip">NIP</label>
              <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="nip" formControlName="nip"
                type="number" required="" placeholder="123456789" aria-label="nip" maxlength="16">
            </div>
            <div class="pb-4">
              <label class="block text-sm text-gray-600" for="nohape">Nomor Handphone</label>
              <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="nohape" formControlName="nohape"
                type="number" required="" placeholder="0812345678" aria-label="nohape" maxlength="13">
            </div>
            <div class="pb-4">
              <label class="block text-sm text-gray-600" for="nohape">Role Akun</label>
              <select class="w-full px-5 py-3 text-gray-700 bg-gray-200 rounded" name="roles" formControlName="rolesId">
                <option *ngFor="let roles of rolesData"
                [ngValue]=roles.id>{{roles.roles}}</option>
              </select>
            </div>
            <div class="pb-4">
              <label class="block text-sm text-gray-600" for="nohape">Divisi</label>
              <select  class="w-full px-5 py-3 text-gray-700 bg-gray-200 rounded" name="Divisi" formControlName="divisi">
                <option *ngFor="let divisi of divisiData"
                [ngValue]=divisi.divisi>{{divisi.divisi}}</option>
              </select>
            </div>
            <div class="pb-4">
              <label class="block text-sm text-gray-600" for="password">Password</label>
              <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="password" formControlName="password"
                type="password" required="" placeholder="Password" aria-label="password">
            </div>
            <div class="mt-6">
              <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded"
                type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="w-full my-6 mb-10">
      <div class="bg-white overflow-auto">
        <table class="w-full bg-white table-auto mb-20">
          <thead class="bg-gray-800 text-white">
            <tr class="">
              <th class="w-6 text-center py-3 px-4 uppercase font-semibold text-sm">No</th>
              <th class="text-center py-3 px-4 uppercase font-semibold text-sm">Nama</th>
              <th class="text-center py-3 px-4 uppercase font-semibold text-sm">Email</th>
              <th class="text-center py-3 px-4 uppercase font-semibold text-sm">NIP</th>
              <th class="text-center py-3 px-4 uppercase font-semibold text-sm">NoHape</th>
              <th class="text-center py-3 px-4 uppercase font-semibold text-sm">Role</th>
              <th class="text-center py-3 px-4 uppercase font-semibold text-sm">Divisi</th>
              <th class="text-center py-3 px-4 uppercase font-semibold text-sm">Aksi</th>
            </tr>
          </thead>
          <tbody class="text-gray-700">
            <tr *ngFor="let row of userData, let i= index">
              <td class="text-center">{{i+1}}</td>
              <td class="text-center">{{row.nama}}</td>
              <td class="text-center">{{row.email}}</td>
              <td class="text-center">{{row.nip}}</td>
              <td class="text-center">{{row.nohape}}</td>
              <td class="text-center">{{row.roles.roles}}</td>
              <td class="text-center">{{row.divisi}}</td>
              <td class="text-white text-center">
                <!-- <button (click)="onEdit(row)" class="px-4 py-2 mr-4 bg-blue-500 rounded-lg hover:bg-blue-700">Edit</button> -->
                <button (click)="deleteDivisi(row)" class="px-4 py-2 bg-red-500 rounded-lg hover:bg-red-700">Hapus</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
