<div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
    <main class="w-full flex-grow p-6">
      <h1 class="w-full text-3xl text-black pb-6">Tambah Divisi</h1>
  
      <div class="flex flex-wrap">
        <div class="w-full lg:w-full my-6 pr-0 lg:pr-2">
          <p class="text-xl pb-6 flex items-center">
            <i class="fas fa-list mr-3"></i> Masukkan Divisi Pegawai
          </p>
          <div class="leading-loose">
            <form [formGroup]="divisiForm" (ngSubmit)="addDivisi()" class="p-10 bg-white rounded shadow-xl">
              <div class="pb-4">
                <label class="block text-sm text-gray-600" for="roles">Nama Divisi</label>
                <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="roles" formControlName="divisi" type="text"
                  required="" placeholder="Divisi" aria-label="roles">
              </div>
              <div class="mt-6">
                <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded"
                  type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
  